{% extends 'includes/base.html' %}
{% load static %}
{% block body %}


<div class="container my-5">
  <form class="border p-3" style="width: 100%; max-width: 600px; margin: auto; " action="{% url 'account:reset_password' %}" method="POST">
    {% csrf_token %}
    <h1 class="text-center mb-4">Reset password</h1>
    <!-- Email input -->
    <!-- Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Password</label>
        <input name="password" type="password" id="form2Example2" class="form-control" />
      </div>
  
      <!-- Repeat Password input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form2Example2">Repeat Password</label>
        <input name="confirm_password" type="password" id="form2Example2" class="form-control" />
      </div>
      <input type="hidden" name="email" value="{{ email }}">
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>
  
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Already have an account? <a href="{% url 'account:login' %}">Log in</a></p>
      
    </div>
</form>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


{% endblock %}