{% load static %}
<header>
  <section class="wrapper nav-flex">
      <nav>
         <a href="{% url 'main:home' %}" style="font-size: 24px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; color: black;"><img src="{% static 'images/chef.png' %}" class="logo">CHEF RECIPES</a>
      </nav>
      <nav class="navigation">
        <ul>   
                <li><a href="{% url 'main:create' %}">Create</a></li>
                <li><a href="#">Recipes</a></li>
                <li><a href="tags">Tags</a></li>
                <li><a href="chefs">Chefs</a></li>
                <li><a href="{% url 'account:profile' %}">Profile</a></li>
        </ul>
      </nav>
      {% if not request.user.is_authenticated %}
      <nav class="login-area">
          <button class="login"><a href="{% url 'account:login' %}">Login</a></button>
          <button class="register"><a href="{% url 'account:signup' %}">Register</a></button>
      </nav>
      {% endif %}
  </section>
</header>


{% if messages %}
<div class="my-2">
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
      <strong>{{ message }}</strong>
      {% comment %} <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button> {% endcomment %}
    </div>
    {% endfor %}
  </div>
{% endif %}